<img src="https://www.hopelearning.net/wp-content/uploads/2020/09/LOGO.png" alt="fishy" class="bg-primary" width="50px">

# Inference or Conclusion needed for every question

In [1]:
import pandas as pd#dataset to insert panda pd

## ** Download the dataset from <a href="https://drive.google.com/file/d/1hiR9XbTjMsNk_uA025w5nrw5LTBUDCEC/view?usp=sharing">here(Click Here)</a>

In [2]:
dataset=pd.read_csv("Placement_Data_Full_Class.csv")# dataset create for variables insert function placement input file

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

## 1)Replace the NaN values with correct value. And justify why you have chosen the same.

NameError: name 'data' is not defined

## 2)How many of them are not placed?

In [ ]:
dataset["status"]

## 3)Find the reason for non placement from the dataset?

## 4)What kind of relation between salary and mba_p

In [ ]:
df3 = pd.DataFrame({'mba_p': ['58.80', '66.28', '57.80','55.50','74.49','53.62','69.72'],
                    'salary': [270000.0,200000.0, 250000.0,425000.0,400000.0,275000.0,295000.0]})

In [ ]:
df3

## 5)Which specialization is getting minimum salary?

In [ ]:
dataset["hsc_p"].min()#min value calculating

In [ ]:
import numpy as np
np.percentile(dataset["hsc_p"],100) #percentile calculating

## 6)How many of them getting above 500000 salary?

In [ ]:
dataset["salary"].median()#

In [ ]:
dataset

## 7)Test the Analysis of Variance between etest_p and mba_p at signifance level 5%.(Make decision using Hypothesis Testing)

## 8)Test the similarity between the degree_t(Sci&Tech) and specialisation(Mkt&HR) with respect to salary  at significance level of 5%.(Make decision using Hypothesis Testing)

## 9)Convert the normal distribution to standard normal distribution for salary column

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(dataset["salary"])

## 10)What is the probability Density Function of the salary range from 700000 to 900000?

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(dataset["ssc_p"])

## 11)Test the similarity between the degree_t(Sci&Tech)with respect to etest_p and mba_p at significance level of 5%.(Make decision using Hypothesis Testing)

## 12)Which parameter is highly correlated with salary?

## 13) plot  any useful graph and explain it.

submit as "YOURNAME_InferentialAnalysis.ipynb"  to admin@hopelearning.net

www.hopelearning.net